APP_NAME=Draftly API
APP_VERSION=0.1.0
DEBUG=false

CORS_ORIGINS=["http://localhost:3000"]

VERIFY_GOOGLE_TOKEN=true
REQUIRED_GMAIL_SCOPE=https://www.googleapis.com/auth/gmail.readonly

DEFAULT_MESSAGE_LIMIT=10
MAX_MESSAGE_LIMIT=50
